/* 지마켓 산스 불러오기 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 지마켓 산스 적용하기 */
html > body,
html > body button,
html > body select,
html > body input {
    font-family: "GmarketSansMedium";
    text-underline-position: under;

}
