<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">

    <!-- sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/resource/style.css}">
    <title>Hello, sbb!</title>
</head>
<body>
<nav th:replace="navbar::navbarFragment"></nav>
<!-- 대체해라 navbarFragment이럿게 된 fragment를 찾아서햣  -->

<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<th:block layout:fragment="content"></th:block>
<!-- 기본 템플릿 안에 삽입될 내용 End -->


<!--자바스크립트 코드는 보통 마지막에 작성해주어야 안정적으로 동작한다? -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<!-- 자바스크립트 Start -->
<th:block layout:fragment="script"></th:block>
<!-- 자바스크립트 End -->
</body>
</html> 